<template>
  <v-card>
    <v-card-text>
      <v-form
        ref="scoreForm"
        v-model="scoreIsValid"
        lazy-validation
        @submit.prevent="submit"
      >
        <v-text-field
          id="score-input"
          v-model="score"
          v-shortkey="'numeric'"
          type="number"
          step="0.5"
          label="Score"
          :suffix="`/${fullScore}`"
          :rules="scoreRules"
          min="0"
          :max="fullScore"
          @shortkey="handleKeypress"
        />
        <div class="suggestion-chips">
          <v-chip
            id="score-zero"
            small
            color="error"
            outlined
            @click="score=0"
          >
            0
          </v-chip>
          <v-chip
            id="score-full"
            small
            color="success"
            outlined
            @click="score=fullScore"
          >
            {{ fullScore }}
          </v-chip>
        </div>
      </v-form>
    </v-card-text>
    <v-divider />
    <v-card-actions>
      <v-tooltip
        v-if="showFinalCheckbox"
        top
      >
        <template #activator="{ on }">
          <div v-on="on">
            <v-checkbox
              v-model="isFinal"
              label="Final"
              class="final-checkbox"
              hide-details
            />
          </div>
        </template>
        <span>If unchecked this submission will be marked for review by the lecturer</span>
      </v-tooltip>
      <v-spacer />
      <v-tooltip
        v-if="skippable"
        top
      >
        <template #activator="{ on }">
          <v-btn
            id="skip-submission"
            text
            v-on="on"
            @click="skipSubmission"
          >
            Skip
          </v-btn>
        </template>
        <span>Skip this submission</span>
      </v-tooltip>
      <v-tooltip top>
        <template #activator="{ on }">
          <v-btn
            id="submit-feedback"
            color="primary"
            :loading="loading"
            :disabled="!scoreIsValid"
            v-on="on"
            @click="submit"
          >
            Submit
          </v-btn>
        </template>
        <span>Submit and continue</span>
      </v-tooltip>
    </v-card-actions>
  </v-card>
</template>

<script>
import { SubmissionNotes } from '@/store/modules/submission-notes'
import { Authentication } from '@/store/modules/authentication'
import { Assignments } from '@/store/modules/assignments'
import { mapState } from 'vuex'

export default {
  name: 'AnnotatedSubmissionBottomToolbar',
  props: {
    fullScore: {
      type: Number,
      required: true
    },
    loading: {
      type: Boolean,
      required: true
    },
    skippable: {
      type: Boolean,
      default: false
    },
    feedback: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      scoreIsValid: true,
      isFinal: this.initialFinalStatus(),
      scoreRules: [
        score => score !== undefined ||
                 'Score is required.',
        score => !isNaN(parseFloat(score)) ||
                 'Score must be a number.',
        score => parseFloat(score) >= 0 && parseFloat(score) <= this.fullScore ||
                 `Score must be between 0 and ${this.fullScore}.`,
        score => parseFloat(score) === this.fullScore || this.hasFeedbackOrLabel ||
                 'Add a comment or label explaining why this submission doesn\'t get full score.'
      ]
    }
  },
  computed: {
    hasFeedbackOrLabel: function() {
      return Object.keys(SubmissionNotes.state.updatedFeedback.feedbackLines).length > 0 ||
             SubmissionNotes.state.updatedFeedback.labels.length > 0 ||
             Object.keys(SubmissionNotes.state.origFeedback.feedbackLines).length > 0 ||
             SubmissionNotes.state.origFeedback.labels.length > 0
    },
    score: {
      get: function () {
        return SubmissionNotes.score
      },
      set: function (score) {
        SubmissionNotes.UPDATE_FEEDBACK_SCORE(Number(score))
      }
    },
    showFinalCheckbox () {
      // show always on feedback history and participants overview
      if (this.$route.name !== 'correction') {
        return true
      }

      return !SubmissionNotes.isFeedbackCreation ||
        Authentication.isReviewer && !SubmissionNotes.isConflictResolution
    }
  },
  watch: {
    feedback: {
      handler: function (val) {
        this.isFinal = this.initialFinalStatus()
      },
      deep: true
    },
    hasFeedbackOrLabel: function (newValue) {
      if (this.score !== undefined)
        this.$refs.scoreForm.validate()
    }
  },
  methods: {
    initialFinalStatus () {
      if (this.$route.name === 'correction') {
        return !SubmissionNotes.isFeedbackCreation || Authentication.isReviewer
      } else {
        if (this.feedback.hasOwnProperty('isFinal') && !SubmissionNotes.isConflictResolution) {
          return this.feedback.isFinal
        } else {
          return !SubmissionNotes.isFeedbackCreation || Authentication.isReviewer
        }
      }
    },
    submit () {
      if (this.$refs.scoreForm.validate())
        this.$emit('submitFeedback', { isFinal: this.isFinal })
    },
    skipSubmission () {
      if (this.skippable) {
        Assignments.skipAssignment().catch(() => {
          this.$notify({
            title: 'Unable to skip submission',
            type: 'error'
          })
        })
      } else {
        throw new Error('Can\'t skip submission when skippable is false for AnnotatedSubmissionBottomToolbar.')
      }
    },
    handleKeypress (event) {
      // only handle keypress if nothing is focused
      if (document.activeElement.tagName === 'BODY') {
        this.score = event.key
        const scoreInput = document.getElementById('score-input')
        scoreInput.scrollIntoView()
        scoreInput.focus()
      }
    }
  }
}
</script>

<style scoped>
  .suggestion-chips {
    margin: 0 -4px;
  }
  .final-checkbox {
    margin: 0;
    padding: 0;
  }
</style>
