<template>
  <v-tooltip top>
    <template #activator="{ on }">
      <v-btn
        v-on="on"
        id="feedback-visibility-toggle"
        class="me-3"
        min-width=0
        :style="{
          // 'info' color doesn't work here for some reason
          color: showFeedback ? '#4281F5' : 'gray',
          backgroundColor: showFeedback ? '#CCE7FF' : '#E0E0E0'
        }"
        @click="showFeedback = !showFeedback"
      >
        <v-icon>
          feedback
          {{ showFeedback ? "check_circle_outline" : "highlight_off"}}
        </v-icon>
      </v-btn>
    </template>
    <span>Toggle Feedback Visibility</span>
  </v-tooltip>
</template>

<script lang="ts">
import Vue from 'vue'
import { SubmissionNotes } from '@/store/modules/submission-notes'
import { createComputedGetterSetter } from '@/util/helpers'
import { getters } from '@/store/getters'
import Component from 'vue-class-component'

@Component
export default class ToggleFeedbackVisibilityButton extends Vue {
  get showFeedback () {
    return getters.state.SubmissionNotes.ui.showFeedback
  }
  set showFeedback (val) {
    SubmissionNotes.SET_SHOW_FEEDBACK(val)
  }
}
</script>

<style scoped>

</style>
