<template>
  <div>
    <td
      :style="backgroundColor"
      class="line-number-cell"
    >
      <v-btn
        text
        block
        depressed
        class="line-number-btn"
        @click="toggleEditor"
      >
        {{ lineNo }}
      </v-btn>
    </td>
    <!-- NOTE: The es-linter HAS to be disabled for the following span elements; -->
    <!--       otherwise it will fail to clean up / use up / render the HTML     -->
    <td class="code-cell-content pl-2 pt-1" :key="key">
      <!-- parsed, rendered version of the content -->
      <!-- eslint-disable-next-line -->
      <span
        v-if="mathIsRendered"
        class="code-line"
        :key="`key{_mathy}`"
        v-katex=this.katexOptions
        v-html="this.parsed_code"
      ></span>
      <!-- plain, unrendered version of the content -->
      <!-- eslint-disable-next-line -->
      <span
        v-else
        class="code-line"
        :key="`key{_plain}`"
        v-html="code"
      ></span>
      <!-- this slot element is what ends up carrying the comment form -->
      <slot />
    </td>
  </div>
</template>

<script>
import { subNotesEventBus } from '../../../store/modules/submission-notes'
import { parse_AsciiMath } from '@/util/helpers'

export default {
  name: 'SubmissionLine',
  props: {
    lineNo: {
      type: String,
      required: true
    },
    code: {
      type: String,
      required: true
    },
    codeLanguage: {
      type: String,
      default: 'lang-c'
    },
    hint: {
      type: Boolean,
      default: false,
    },
    mathIsRendered: {
      type: Boolean,
      default: false,
    },
    katexOptions: {
      type: Object
    }
  },
  data () {
    return {
      key: 0
    }
  },
  computed: {
    backgroundColor() {
      return this.hint ? 'background-color: orange;' : 'background-color: transparent;'
    },
    parsed_code() {
      return parse_AsciiMath(this.code)
    }
  },
  created () {
    subNotesEventBus.$on('resetSubmission', () => {
      this.key++
    })
  },
  methods: {
    toggleEditor () {
      this.$emit('toggleEditor')
    }
  }
}
</script>

<style scoped>
  .line-number-cell {
    vertical-align: top;
    min-width: 52px;
  }

  .code-cell-content {
    width: 100%;
  }

  .code-line {
    white-space: pre-wrap;
    font-family: monospace;
  }

  .line-number-btn {
    height: fit-content;
    min-width: 50px;
    margin: 0;
    border-radius: 0;
  }
</style>
