<template>
  <div>
    <v-navigation-drawer
      fixed
      clipped
      app
      permanent
      width="300"
      :mini-variant="mini"
    >
      <v-toolbar>
        <v-list>
          <v-list-item>
            <v-list-item-action v-if="mini">
              <v-btn
                id="showSidebarButton"
                icon
                @click.native.stop="mini = !mini"
              >
                <v-icon>chevron_right</v-icon>
              </v-btn>
            </v-list-item-action>
            <v-list-item-content
              class="title"
            >
              <slot name="header" />
            </v-list-item-content>
            <v-list-item-action v-if="!mini">
              <v-btn
                id="hideSidebarButton"
                icon
                @click.native.stop="mini = !mini"
              >
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-toolbar>
      <slot name="sidebar-content" />
      <div class="sidebar-footer">
        <v-btn
          id="feedback-btn"
          href="https://gitlab.gwdg.de/grady-corp/grady/issues"
          target="_blank"
          :block="!mini"
          :fab="mini"
          :text="mini"
          :tile="!mini"
          depressed
          :class="{ 'fab-button': mini }"
        >
          <v-icon :left="!mini">
            feedback
          </v-icon>
          <div v-show="!mini">
            Feedback
          </div>
        </v-btn>
      </div>
    </v-navigation-drawer>
    <v-app-bar
      app
      dense
      clipped-left
      fixed
      dark
      color="indigo darken-4"
      class="grady-toolbar"
    >
      <router-link to="/home">
        <span class="pl-2 grady-speak">{{ gradySpeak }}</span>
      </router-link>
      <v-spacer />
      <instance-actions />
      <v-divider vertical />
      <user-options />
    </v-app-bar>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { UI } from '@/store/modules/ui'
import { mapStateToComputedGetterSetter } from '@/util/helpers'
import UserOptions from '@/components/UserOptions'
import InstanceActions from '@/components/InstanceActions'
import { Authentication } from '@/store/modules/authentication'

export default {
  name: 'BaseLayout',
  components: { InstanceActions, UserOptions },
  computed: {
    gradySpeak () { return Authentication.gradySpeak },
    isStudent () { return Authentication.isStudent },
    ...mapStateToComputedGetterSetter({
      pathPrefix: 'UI',
      items: [
        {
          name: 'mini',
          path: 'sideBarCollapsed',
          mutation: UI.SET_SIDEBAR_COLLAPSED
        }
      ]
    })
  },
}
</script>

<style scoped>
  .sidebar-footer {
    width: 100%;
    bottom: 0px;
  }

  .grady-toolbar {
    font-weight: bold;
  }

  .title {
    color: gray;
    white-space: nowrap;
  }

  .fab-button {
    margin: 0 12px;
  }

  .fab-button-white {
    color: grey !important;
  }

  .v-btn {
    margin: 0px;
  }
  #showSidebarButton {
    position: relative;
    /* negative padding on the left moves it leftwards */
    left: -28px;
  }
  #hideSidebarButton {
    position: relative;
    /* positive padding on the left moves it rightwards */
    left: +20px;
  }

</style>

<style>
  .grady-toolbar > div {
    padding-right: 0;
  }

  .grady-toolbar .v-btn {
    letter-spacing: initial;
    text-transform: none;
  }
</style>
