<template>
  <div>
    <h4>Allgemeiner Hinweis und Pflichtinformationen</h4>
    <p />

    <h4>Benennung der verantwortlichen Stelle</h4>
    <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
    <p>
      <span id="s3-t-firma">Institut für Informatik - Georg-August-Universität Göttingen</span><br>
      <span id="s3-t-ansprechpartner">Dr. Henrik Brosenne</span><br><span id="s3-t-strasse">Goldschmidtstraße 7</span><br>
      <span id="s3-t-plz">37077</span> <span id="s3-t-ort">Göttingen</span>
    </p>
    <p>
      Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der
      Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).
    </p>

    <h4>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde</h4>
    <p>
      Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei der zuständigen
      Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist:
    </p>
    <p>
      Die Landesbeauftragte für den Datenschutz Niedersachsen<br>
      Prinzenstraße 5<br>
      30159 Hannover<br>
    </p>

    <h4>Recht auf Datenübertragbarkeit</h4>
    <p>
      Ihnen steht das Recht zu, Daten, die wir auf Grundlage der Erfüllung eines Vertrags
      automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen. Die Bereitstellung erfolgt in einem
      maschinenlesbaren Format. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
    </p>

    <h4>Recht auf Auskunft, Berichtigung, Sperrung, Löschung</h4>
    <p>
      Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche Auskunft über
      Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten, deren Empfänger und den Zweck der
      Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Diesbezüglich und
      auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit über die im Impressum aufgeführten Kontaktmöglichkeiten an uns wenden.
    </p>

    <h4>SSL- bzw. TLS-Verschlüsselung</h4>
    <p>
      Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns als Seitenbetreiber
      senden, nutzt unsere Website eine SSL-bzw. TLS-Verschlüsselung. Damit sind Daten, die Sie über diese Website
      übermitteln, für Dritte nicht mitlesbar. Sie erkennen eine verschlüsselte Verbindung an der „https://“
      Adresszeile Ihres Browsers und am Schloss-Symbol in der Browserzeile.
    </p>

    <h4>Datenschutzbeauftragter</h4>
    <p>Wir haben einen Datenschutzbeauftragten bestellt.</p>
    <p>
      Datenschutzbeauftragter der Universität<br>
      Prof. Dr. Andreas Wiebe<br>
      Lehrstuhl für Bürgerliches Recht, Wettbewerbs- und Immaterialgüterrecht, Medien- und Informationsrecht<br>
      Platz der Göttinger Sieben 6<br>
      37073 Göttingen<br>
      Tel.: 0551 39 - 7381<br>
      Fax: 0551 39 - 4437<br>
      E-Mail: lehrstuhl.wiebe@jura.uni-goettingen.de
    </p>

    <h4>Server-Log-Dateien</h4>
    <p>Der Provider der Website erhebt automatisch Informationen, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
    <p>
      <ul>
        <li>Besuchte Seite auf unserer Domain</li>
        <li>Datum und Uhrzeit der Serveranfrage</li>
        <li>Browsertyp und Browserversion</li>
        <li>Verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Hostname des zugreifenden Rechners</li>
        <li>IP-Adresse</li>
      </ul>
    </p>
    <p>
      Es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt. Grundlage der Datenverarbeitung
      bildet Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder
      vorvertraglicher Maßnahmen gestattet.
    </p>

    <h4>Registrierung auf dieser Website</h4>
    <p>
      Zur Nutzung bestimmter Funktionen müssen Sie sich auf unserer Website registrieren. Die übermittelten Daten
      dienen ausschließlich zum Zwecke der Nutzung des jeweiligen Angebotes oder Dienstes. Bei der Registrierung
      abgefragte Pflichtangaben sind vollständig anzugeben. Andernfalls werden wir die Registrierung ablehnen.
    </p>
    <p>Im Falle wichtiger Änderungen, etwa aus technischen Gründen, informieren wir Sie</p>
    <p>
      Wir speichern die bei der Registrierung erfassten Daten während des Zeitraums, den Sie auf unserer Website
      registriert sind.
      Gesetzliche Aufbewahrungsfristen bleiben unberührt.
    </p>

    <h4>Speicherdauer von Beiträgen und Kommentaren</h4>
    <p>
      Beiträge und Kommentare sowie damit in Verbindung stehende Daten, wie beispielsweise der Benutzername,
      werden gespeichert. Der Inhalt verbleibt auf unserer Website, bis er vollständig gelöscht wurde oder aus
      rechtlichen Gründen gelöscht werden musste.
    </p>
    <p>
      Die Speicherung der Beiträge und Kommentare erfolgt auf Grundlage Art. 6 Abs. 1 lit. b DSGVO zur Erfüllung des
      Arbeitsvertrages.
    </p>

    <h4>Session storage</h4>
    <p>
      Unsere Website verwendet den Session storage des Browsers. In diesem werden für die Dauer einer Sitzun (Session)
      Daten auf Ihrem Endgerät gespeichert.
    </p>

    <h4>Google Web Fonts</h4>
    <p>Unsere Website verwendet Web Fonts von Google. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>
    <p>
      Durch den Einsatz dieser Web Fonts wird es möglich Ihnen die von uns gewünschte Darstellung unserer Website
      zu präsentieren, unabhängig davon welche Schriften Ihnen lokal zur Verfügung stehen. Dies erfolgt über
      den Abruf der Google Web Fonts von einem Server von Google in den USA und der damit verbundenen Weitergabe
      Ihrer Daten an Google. Dabei handelt es sich um Ihre IP-Adresse und welche Seite Sie bei uns besucht haben.
      Der Einsatz von Google Web Fonts erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Als Betreiber dieser
      Website haben wir ein berechtigtes Interesse an der optimalen Darstellung und Übertragung unseres Webauftritts.
    </p>
    <p>
      Das Unternehmen Google ist für das us-europäische Datenschutzübereinkommen "Privacy Shield" zertifiziert.
      Dieses Datenschutzübereinkommen soll die Einhaltung des in der EU geltenden Datenschutzniveaus gewährleisten.
    </p>
    <p>
      Einzelheiten über Google Web Fonts finden Sie unter:
      <a href="https://www.google.com/fonts#AboutPlace:about">https://www.google.com/fonts#AboutPlace:about</a>
      und weitere Informationen in den Datenschutzbestimmungen von Google:
      <a href="https://policies.google.com/privacy/partners?hl=de">https://policies.google.com/privacy/partners?hl=de</a>
    </p>
    <p>
      <small>Quelle: Datenschutz-Konfigurator von <a
        href="http://www.mein-datenschutzbeauftragter.de"
        target="_blank"
      >mein-datenschutzbeauftragter.de</a></small>
    </p>
  </div>
</template>

<script>
export default {
  name: 'GDPRNotice'
}
</script>

<style scoped>

</style>
