<template>
  <div>
    <export-dialog v-if="isReviewer" />
    <template v-for="(a, i) in actions">
      <v-tooltip
        v-if="a.condition()"
        :key="i"
        bottom
      >
        <template #activator="{ on }">
          <v-btn
            :id="a.id"
            text
            icon
            @click="a.action"
            v-on="on"
          >
            <v-icon>{{ a.icon }}</v-icon>
          </v-btn>
        </template>
        {{ a.text }}
      </v-tooltip>
    </template>
    <free-locks-button v-if="isReviewer" />
    <component
      :is="displayComponent"
      v-if="displayComponent"
      @hide="hideComponent"
    />
  </div>
</template>

<script>
import ExportDialog from '@/components/export/ExportDialog'
import ImportDialog from '@/components/ImportDialog'
import ConfigDialog from '@/components/instance_config/ConfigDialog'
import FreeLocksButton from '@/components/FreeLocksButton'
import { Authentication } from '@/store/modules/authentication'
export default {
  name: 'InstanceActions',
  components: { ExportDialog, ImportDialog, FreeLocksButton },
  data () {
    return {
      displayComponent: null,
      actions: [
        {
          icon: 'publish',
          text: 'Import exam data',
          action: () => { this.displayComponent = ImportDialog },
          condition: () => Authentication.isReviewer,
          id: 'import-data-list-item'
        },
        {
          icon: 'settings',
          text: 'Instance settings',
          action: () => { this.displayComponent = ConfigDialog },
          condition: () => Authentication.isReviewer,
          id: 'configure-instance-item',
        },
      ]
    }
  },
  computed: {
    isReviewer: () => Authentication.isReviewer,
  },
  methods: {
    hideComponent () {
      this.displayComponent = null
    },
    logout () {
      actions.logout()
    }
  }
}
</script>
