<template>
  <v-card>
    <v-card-title class="title">
      Accumulated Label Statistics
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items-per-page="-1"
      sort-by="count"
      sort-desc
      :loading="loading"
      :items="summedLabelCounts"
      hide-default-footer
    />

    <div
      v-for="([subType, labelCounts]) in mappedLabelCounts"
      :key="subType"
    >
      <v-card-title class="title">
        Statistics for: {{ subType }}
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items-per-page="-1"
        sort-by="count"
        sort-desc
        :loading="loading"
        :items="labelCounts"
        hide-default-footer
      />
    </div>
  </v-card>
</template>


<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import * as api from '@/api'
import { LabelStatisticsForSubType } from '../models'
import { getters } from '../store/getters'
import { FeedbackLabels } from '../store/modules/feedback-labels'


@Component
export default class LabelStatistics extends Vue{
  labelStatistics: LabelStatisticsForSubType[] = []
  timer = 0

  headers = [
    {
      text: 'Label',
      align: 'left',
      value: 'name'
    },
    {
      text: 'Count',
      align: 'center',
      value: 'count'
    }
  ]

  get loading(): boolean {
    return this.labelStatistics.length === 0
  }

  get summedLabelCounts () {
    const summedLabelCounts = this.labelStatistics
    .reduce((acc: {[labelPk: string]: number}, curr) => {
      Object.entries(curr)
        .filter(([key, val]) => key !== 'pk')
        .forEach(([labelPk, count]: [string, number]) => {
          if (!acc[labelPk]) {
            acc[labelPk] = 0
          }
          acc[labelPk] += count
        })
      return acc
    }, {})
    // TODO map label pks to names
    const mappedLabelCounts = this.mapLabelList(Object
      .entries(summedLabelCounts))
    return mappedLabelCounts
  }

  get mappedLabelCounts () {
    return this.labelStatistics.map(labelStatistics => {
      const labelValues = Object
        .entries(labelStatistics)
        .filter(([key, val]) => key !== 'pk')
      const subTypeName = getters.submissionType(labelStatistics.pk).name
      return [subTypeName, this.mapLabelList(labelValues)]
      // it seems the typechecker has a bug here...
    }).sort((a: any, b: any) => a[0].localeCompare(b[0]))
  }

  mapLabelList (labelList: [string, number][]) {
    return labelList.map(entry => {
        const label = FeedbackLabels.state.labels.find(label => {
          return String(label.pk) === entry[0]
        })
        const labelName = label ? label.name : 'Unknown label'
        return {name: labelName, count: entry[1]}
      })
  }

  async loadLabelStatistics () {
    this.labelStatistics = await api.fetchLabelStatistics()
  }

  created () {
    this.timer = setInterval(() => {
      this.loadLabelStatistics()
    }, 10 * 1e3)
    this.loadLabelStatistics()
  }

  beforeDestroy () {
    clearInterval(this.timer)
  }

}
</script>
