<template>
  <v-card v-if="!acceptedGDPR">
    <v-card-title class="title">
      Datenschutzerklärung
    </v-card-title>
    <v-divider />
    <v-card-text class="content">
      <GDPRNotice id="gdpr-notice" />
    </v-card-text>
    <v-divider />
    <v-card-actions class="justify-end">
      <v-btn
        id="accept-gdpr-notice"
        color="primary"
        text
        @click="acceptedGDPR = true"
      >
        Einwilligen
      </v-btn>
    </v-card-actions>
  </v-card>
  <v-card v-else>
    <v-form
      ref="registrationForm"
      v-model="registrationFormIsValid"
      lazy-validation
      @submit.prevent="register"
    >
      <v-card-title class="title">
        Register
      </v-card-title>
      <v-card-text>
        <v-text-field
          id="input-register-username"
          v-model="credentials.username"
          label="Username"
          required
          :error-messages="usernameErrors"
          :rules="[ required ]"
          autofocus
          @input="usernameErrors = null"
        />
        <v-text-field
          id="input-register-instance-password"
          v-model="credentials.registrationPassword"
          label="Instance-Password"
          required
          :rules="[ required ]"
          type="password"
        />
        <v-text-field
          id="input-register-password"
          v-model="credentials.password"
          label="Password"
          required
          :rules="[ required ]"
          type="password"
          :error-messages="passwordErrors"
          @input="passwordErrors = null"
        />
        <v-text-field
          id="input-register-password-repeat"
          v-model="credentials.passwordRepeat"
          label="Repeat Password"
          required
          :rules="[ required, checkPasswordsMatch ]"
          type="password"
        />
        <v-alert
          type="error"
          :value="errorAlert !== null"
        >
          {{ errorAlert }}
        </v-alert>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          id="register-submit"
          text
          :loading="loading"
          :disabled="!registrationFormIsValid"
          type="submit"
        >
          submit
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import { registerTutor } from '@/api'
import GDPRNotice from '@/components/GDPRNotice'
import { required } from '@/util/form-rules'

export default {
  name: 'RegisterDialog',
  components: { GDPRNotice },
  data () {
    return {
      credentials: {
        username: '',
        password: '',
        passwordRepeat: '',
        registrationPassword: ''
      },
      loading: false,
      acceptedGDPR: false,
      registrationFormIsValid: false,
      required,
      checkPasswordsMatch: v => v === this.credentials.password || 'Passwords do not match.',
      errorAlert: null,
      usernameErrors: null,
      passwordErrors: null,
    }
  },
  watch: {
    credentials: {
      handler() {
        if (this.credentials.passwordRepeat !== '')
          this.$refs.registrationForm.validate()
      },
      deep: true
    }
  },
  methods: {
    register () {
      if (!this.$refs.registrationForm.validate())
        return

      this.loading = true
      registerTutor(this.credentials).then(() => {
        this.$emit('registered', this.credentials)
      }).catch(error => {
        this.usernameErrors = error.response && error.response.data && error.response.data.username
        this.passwordErrors = error.response && error.response.data && error.response.data.password
        if (!this.usernameErrors && !this.passwordErrors)
          this.errorAlert = `Couldn't register a tutor account: ${error}`
      }).finally(() => { this.loading = false })
    }
  },
}
</script>

<style scoped>
  .content {
    height: 50vh;
  }
</style>
