<template>
  <v-card id="submission-tests">
    <v-card-title
      v-if="tests.length > 0"
      class="title py-0"
    >
      Tests
      <v-spacer />
      <v-btn
        icon
        @click="expanded = !expanded"
      >
        <v-icon v-if="expanded">
          keyboard_arrow_up
        </v-icon>
        <v-icon v-else>
          keyboard_arrow_down
        </v-icon>
      </v-btn>
    </v-card-title>
    <v-card-title v-else>
      No Tests available
    </v-card-title>
    <v-card-text v-if="expanded">
      <v-col
        v-for="item in tests"
        :key="item.pk"
        sm="12"
      >
        <div name="test-name-label">
          <v-row

            class="pr-4"
          >
            <h3>{{ item.name }}</h3>
            <v-spacer />
            <h3>{{ item.label }}</h3>
          </v-row>
        </div>
        <span class="test-output">{{ item.annotation }}</span>
      </v-col>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'SubmissionTests',
  props: {
    tests: {
      type: Array,
      default: () => []
    },
    expand: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      expanded: this.expand,
      panels: this.tests.map(_ => true)
    }
  }
}
</script>

<style scoped>
  .test-output {
    white-space: pre-wrap;
  }
</style>
