<template>
  <v-dialog
    v-model="exportDialog"
    max-width="31vw"
    @update:return-value="hide"
  >
    <v-card id="data-export-modal">
      <v-card-title class="title">
        Student Data Export
      </v-card-title>
      <v-card-text>
        <div v-if="!mapFileLoaded">
          If you select a mapping file, the anonymized data
          will be mapped back automatically and locally on your machine.
          <v-row

            align="center"
          >
            <v-file-input
              v-model="mapFile"
              label="Map file"
              accept="application/JSON"
            />
            <span>Without the mapping, the data will still be obfuscated.</span>
          </v-row>
        </div>
        <span>
          <b>NOTE:</b> Mapping / setting passwords can take some time depending on course size.
        </span>
        <v-row>
          <v-col cols="4">
            <v-tooltip top>
              <template #activator="{ on }">
                <div v-on="on">
                  <v-checkbox
                    v-model="setPasswords"
                    label="Set passwords"
                  />
                </div>
              </template>
              <span>Setting this will cause all student passwords
                to be reset upon export. The new passwords will be contained in the
                export file.
              </span>
            </v-tooltip>
          </v-col>
          <v-col
            id="type-select"
            cols="3"
            offset="1"
          >
            <span>Export as <b>json</b>
            </span>
          </v-col>
        </v-row>
        <v-card-actions>
          <v-btn
            text
            color="blue lighten-2"
            @click="exportDialog = false"
          >
            close
          </v-btn>
          <v-spacer />
          <v-progress-circular
            v-if="loading"
            indeterminate
          />
          <v-btn
            v-else
            id="export-data-download-btn"
            text
            outlined
            @click="getExportFile('data')"
          >
            {{ mapFile || mapFileLoaded ? 'Download and apply mapping' : 'Download without mapping' }}
          </v-btn>
        </v-card-actions>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { getters } from '@/store/getters'
import ax, { StudentExportItem, fetchStudentExportData } from '@/api'
import { mutations as mut } from '@/store/mutations'
import { ExportType, exportMixin } from '@/components/mixins/exportMixin'

@Component
export default class DataExport extends mixins(exportMixin) {

  get studentMap () { return getters.state.studentMap }

  applyMapping (studentExport: StudentExportItem[]) {
    studentExport.forEach(student => {
      if (this.studentMap[student.Matrikel]) {
        student.Email = this.studentMap[student.Matrikel].email
        student.Name = this.studentMap[student.Matrikel].name
        student.Matrikel = this.studentMap[student.Matrikel].matrikelNo
      } else {
        this.$notify({
          title: `Unknown student: ${student.Name}`,
          text: `Student ${student.Name} is missing in mapping file`,
          type: 'error',
          duration: -1
        })
      }
    })
  }
}
</script>

<style scoped>
</style>
