<template>
  <div id="container">
    <v-menu offset-y>
      <template #activator="{ on: menu }">
        <v-tooltip left>
          <template #activator="{ on: tooltip }">
            <v-btn
              id="export-btn"
              slot="activator"
              :icon="!corrected"
              :text="!corrected"
              :color="corrected ? 'success' : undefined"
              v-on="{ ...tooltip, ...menu }"
            >
              <v-icon :left="corrected">
                file_download
              </v-icon>
              <span v-if="corrected">
                Export
              </span>
            </v-btn>
          </template>
          Export
          <span
            v-if="corrected"
            id="corrected-tooltip"
          >(All submissions have been corrected!)</span>
          <span
            v-else
            id="uncorrected-tooltip"
          >(UNCORRECTED submissions left! Export will be incomplete.)</span>
        </v-tooltip>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, i) in menuItems"
          :id="'export-list' + i"
          :key="i"
          @click="item.action"
        >
          {{ item.display }}
        </v-list-item>
      </v-list>
    </v-menu>
    <component
      :is="displayComponent"
      v-if="displayComponent"
      @hide="displayComponent = null"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import DataExport from '@/components/export/DataExport.vue'
import InstanceExport from '@/components/export/InstanceExport.vue'
import { getters } from '@/store/getters'

@Component({
  components: { DataExport, InstanceExport }
})
export default class ExportDialog extends Vue {
    displayComponent: any = null

    menuItems = [
      {
        display: 'Export student scores',
        action: () => {
          this.setDisplayComponent(DataExport)
        }
      },
      {
        display: 'Export whole instance data',
        action: () => { this.setDisplayComponent(InstanceExport) }
      }
    ];

    get corrected () {
      return getters.corrected
    }

    // apparently `this` is not the same when used within a
    // closure when defining data and within a method
    setDisplayComponent (component: any) {
      this.displayComponent = component
    }
}
</script>

<style scoped>
  #container {
    display: inline;
  }
</style>
