<template>
  <v-dialog
    v-model="exportDialog"
    max-width="31vw"
    @update:return-value="hide"
  >
    <v-card id="instance-export-modal">
      <v-card-title class="title">
        Instance Data Export
      </v-card-title>
      <v-card-text>
        <div v-if="!mapFileLoaded">
          If you select a mapping file, the anonymized data
          will be mapped back automatically and locally on your machine.
          <v-row

            align="center"
          >
            <v-file-input
              v-model="mapFile"
              label="Map file"
              accept="application/JSON"
            />
            <span>Without the mapping, the data will still be obfuscated.</span>
          </v-row>
        </div>
        <span>
          <b>NOTE:</b> Mapping can take some time depending on course size.
        </span>
        <v-card-actions>
          <v-btn
            text
            color="blue lighten-2"
            @click="exportDialog = false"
          >
            close
          </v-btn>
          <v-spacer />
          <v-progress-circular
            v-if="loading"
            indeterminate
          />
          <v-btn
            v-else
            id="instance-export-dl"
            text
            outlined
            @click="getExportFile('instance')"
          >
            {{ mapFile || mapFileLoaded ? 'Download and apply mapping' : 'Download without mapping' }}
          </v-btn>
        </v-card-actions>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { getters } from '@/store/getters'
import ax, { StudentExportItem, fetchStudentExportData, fetchInstanceExportData, InstanceExportData } from '@/api'
import { mutations as mut } from '@/store/mutations'
import { ExportType, exportMixin } from '@/components/mixins/exportMixin'

@Component
export default class DataExport extends mixins(exportMixin) {
  exportDialog = true
  mapFile: File | null = null
  exportType = ExportType.JSON // instance export is only available as JSON
  loading = false

  get studentMap () { return getters.state.studentMap }

  applyMapping (instanceExport: InstanceExportData) {
    instanceExport.students.forEach(student => {
      if (this.studentMap[student.matrikelNo]) {
        const anonMatrikelNo = student.matrikelNo
        student.name = this.studentMap[anonMatrikelNo].name
        student.matrikelNo = this.studentMap[anonMatrikelNo].matrikelNo
      } else {
        this.$notify({
          title: `Unknown student: ${student.name}`,
          text: `Student ${student.name} is missing in mapping file`,
          type: 'error',
          duration: -1
        })
      }
    })
  }
}
</script>

<style scoped>
</style>
