<template>
  <div>
    <div
      v-for="label in labels"
      :key="label.pk"
      class="label"
    >
      <feedback-label
        v-bind="label"
        class="label"
      />
    </div>
  </div>
</template>

<script lang="ts">

import FeedbackLabel from './FeedbackLabel.vue'
import { FeedbackLabels } from '@/store/modules/feedback-labels'

export default {
  components: {
    FeedbackLabel
  },
  computed: {
    labels: () => { return FeedbackLabels.availableLabels },
  }
}
</script>

<style scoped>
div.label {
  display: inline-block;
  margin: 0 8px 8px 0;
}
</style>
