<template>
  <v-card>
    <v-card-title>
      <span class="title">Available Feedback Labels</span>
    </v-card-title>
    <v-card-text>
      <v-data-table
        :headers="headers"
        :header-props="headerProps"
        :items="labels"
        :options="tableOptions"
        :disable-pagination="true"
        :hide-default-footer="true"
      >
        <template #item="{ item }">
          <tr>
            <td style="min-width: 75px;">
              <feedback-label
                v-bind="item"
                class="label"
              />
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
        </template>
      </v-data-table>
      <div style="margin-top: 12px;"></div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">

import FeedbackLabel from './FeedbackLabel.vue'
import { FeedbackLabels } from '@/store/modules/feedback-labels'

export default {
  name: 'FeedbackLabelOverview',
  components: {
    FeedbackLabel
  },
  data() {
    return {
      headerProps: {
        'style': 'font-weight: bold;'
      }
    }
  },
  computed: {
    labels: () => { return FeedbackLabels.availableLabels },
    headers () {
      return [
        {
          text: 'Label',
          align: 'left',
          value: 'name',
        },
        {
          text: 'Description',
          align: 'left',
          value: 'description',
        },
      ]
    },
    tableOptions () {
      return {
        itemsPerPage: this.labels.length,
        showFooter: false,
      }
    },
  }
}
</script>

<style scoped>
div.label {
  display: inline-block;
  margin: 0 8px 8px 0;
}
</style>
