<template>
  <div>
    <v-autocomplete
      id="label-update-autocomplete"
      :items="feedbackLabels"
      item-text="name"
      item-value="pk"
      append-icon="search"
      placeholder="search for keywords"
      @input="setLabel"
    >
      <template #item="{ item }">
        <div class="label-updater-item">
          <feedback-label-component v-bind="item" />
        </div>
      </template>
    </v-autocomplete>
    <feedback-label-form
      v-if="label.pk !== -1"
      is_update
      v-bind="currentLabel"
      @label-updated="setLabel"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { FeedbackLabels } from '@/store/modules/feedback-labels'
import FeedbackLabelForm from './FeedbackLabelForm.vue'
import { FeedbackLabel } from '../../models'
import FeedbackLabelComponent from '@/components/feedback_labels/FeedbackLabel.vue'

@Component({
  components: {
    FeedbackLabelForm,
    FeedbackLabelComponent,
  }
})
export default class FeedbackLabelUpdater extends Vue {
  label: FeedbackLabel = {
    pk: -1,
    name: '',
    description: '',
    colour: '#4d4d4d',
  }
  loading = false

  get currentLabel () {  return this.label }

  get feedbackLabels() {
    return FeedbackLabels.availableLabels
  }

  setLabel (pk: number) {
    const label = this.feedbackLabels.find((val: FeedbackLabel) => {
      return val.pk === pk
    })

    if (label !== undefined) {
      this.label = label
    }
  }
}
</script>

<style>

</style>
