<template>
  <v-dialog
    v-model="show"
    width="50%"
  >
    <v-card>
      <v-card-title class="title">
        Configure instance
      </v-card-title>
      <v-card-text>
        <div>
          In this section you can configure the running instance.
          Any changes you make are immediately applied, but it is required that every user
          logs out and in again to make sure that all users receive the new configuration.
        </div>
        <v-row>
          <v-col
            v-for="(setting, i) in Object.keys(instanceSettings)"
            :key="i"
            cols="6"
          >
            <v-checkbox
              v-model="selected"
              :label="snakeUpperCaseSetting(setting)"
              :value="setting"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="red"
          @click="$emit('hide')"
        >
          Cancel
        </v-btn>
        <v-btn
          @click="submitChange"
        >
          Change settings
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { ConfigModule } from '@/store/modules/config'
import * as api from '@/api'

export default {
  name: 'ConfigDialog',
  data() {
    return {
      loading: true,
      show: true,
      selected: [],

      // config fields that should be ignored entirely go here
      ignoredFields: ['registrationPassword']
    }
  },
  computed: {
    instanceSettings: function () {
      const filtered = Object.entries(ConfigModule.state.config.instanceSettings)
        .filter(([key,]) => !this.ignoredFields.includes(key))
      return Object.fromEntries(filtered)
    },
  },
  watch: {
    show (val) {
      if (!val) {
        this.$emit('hide')
      }
    }
  },
  mounted() {
    ConfigModule.getConfig().then(() => {
      this.loading = false
      this.selected = Object.entries(this.instanceSettings)
        .filter(([key, value]) => value)
        .map(([key, value]) => key)
    })
  },
  methods: {
    submitChange() {
      let conf = {}

      // initially set all settings to false, then set selected ones to true
      for (const cur of Object.keys(this.instanceSettings)) {
        conf = {...conf, [cur]: false}
      }
      for (const cur of this.selected) {
        conf = {...conf, [cur]: true}
      }

      this.$emit('hide')
      api.patchInstanceSettings(conf)
      ConfigModule.getConfig()
    },
    snakeUpperCaseSetting(setting) {
      // converts given string to from camelCase to uppercase snake case
      return setting.split('').reduce((acc, curr) => {
        return curr === curr.toUpperCase() ? acc + '_' + curr : acc + curr
      }).toUpperCase()
    }
  }

}
</script>
