<template>
  <table class="table table-info rounded exam-table">
    <tbody v-if="!exam">
      No exam information present
    </tbody>
    <tbody v-else>
      <tr>
        <th>Module</th>
        <td>{{ exam.moduleReference }}</td>
      </tr>
      <tr>
        <th>Pass score</th>
        <td>{{ exam.passScore }}</td>
      </tr>
      <tr v-if="exam.passOnly">
        <th>Pass only exam!</th>
      </tr>
      <tr>
        <th>Total score</th>
        <td>{{ exam.totalScore }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { Exam } from '@/models'

@Component
export default class ExamInformation extends Vue {
  @Prop(Object) exam!: Exam
}
</script>

<style>
.exam-table {
  width: 100%
}
</style>
