<template>
  <div class="row my-2 justify-content-center">
    <v-data-table
      hide-default-footer
      :headers="headers"
      :items="submissions"
      item-key="type.pk"
    >
      <template #item.feedback.score="{ item }">
        {{ item.feedback ? item.feedback.score : 'N/A' }}
      </template>
      <template #item.view="{ item }">
        <v-btn
          :to="`/submission/${item.type.pk}`"
          color="orange lighten-2"
        >
          <v-icon>chevron_right</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <v-alert color="info">
      You reached <b>{{ sumScore }}</b> of <b>{{ sumFullScore }}</b> possible points ({{ pointRatio }}%).
    </v-alert>
  </div>
</template>

<script>
export default {
  name: 'SubmissionList',
  props: {
    submissions: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      headers: [
        {
          text: 'Task',
          align: 'left',
          value: 'type.name',
          sortable: true
        },
        {
          text: 'Score',
          align: 'right',
          value: 'feedback.score'
        },
        {
          text: 'Maximum Score',
          align: 'right',
          value: 'type.fullScore'
        },
        {
          text: 'View',
          align: 'center',
          value: 'view',
          sortable: false
        }
      ]
    }
  },
  computed: {
    sumScore () {
      return this.submissions.map(a => a.feedback && a.feedback.score).reduce((a, b) => a + b) || 0
    },
    sumFullScore () {
      return this.submissions.map(a => a.type.fullScore).reduce((a, b) => a + b)
    },
    pointRatio () {
      return ((this.sumScore / this.sumFullScore) * 100).toFixed(2)
    }
  }
}
</script>
