<template>
  <v-row justify="center">
    <v-card
      v-if="isReviewer"
      class="mt-5"
    >
      <v-card-title class="title">
        This is the history of all the feedback!
      </v-card-title>
      <v-card-text>
        To the left you see all the submissions everyone corrected including the score, final status, etc. You can do the following:<br><br>
        <ol style="padding-left: 30px;">
          <li>click on one of the rows to see the submission, including the feedback.</li>
          <li>sort the table via clicking on the table headers</li>
          <li>
            search the type names and also the <b>content</b> of the feedback that was written<br>
            (e.g. you're looking for a feedback where someone mentioned a segmentation fault, just type it into the search!)
          </li>
          <li>filter by assigned labels</li>
          <li>filter by the tutors that worked on a submission</li>
        </ol>
      </v-card-text>
    </v-card>
    <v-card v-else>
      <v-card-title class="title">
        This is the history of your feedback!
      </v-card-title>
      <v-card-text>
        To the left you see all the submissions you've corrected including the score, final status, etc. You can do the following:<br><br>
        <ol style="padding-left: 30px;">
          <li>click on one of the rows tp see the submission, including your feedback and potentially a second tutor's feedback.</li>
          <li>sort the table via clicking on the table headers</li>
          <li>
            search the type names and also the <b>content</b> of the feedback that you wrote<br>
            (e.g. you're looking for a feedback where you mentioned a segmentation fault, just type it into the search!)
          </li>
        </ol>
      </v-card-text>
    </v-card>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Authentication } from '../../store/modules/authentication'

@Component
export default class FeedbackListHelpCard extends Vue {
  get isReviewer () {
    return Authentication.isReviewer
  }
}
</script>

<style scoped>

</style>
