<template>
  <v-card class="help-card">
    <v-card-title>
      <v-icon class="me-3 mb-1">
        help_outline
      </v-icon>
      <h3 class="mb-1">Tips on using the correction interface</h3>
    </v-card-title>
    <v-divider />
    <v-card-text class="mt-4 mb-2">
      Here you will take a look at the submission of a participant. The original task is displayed<br>
      on the right hand side, followed by a solution and a possible grading guideline underneath.<br>
      You can <b>comment</b> on a line within the submission by clicking on its line number on the left.<br>
      Additionally, you can <b>assign labels</b> to the submission through the interface below it.<br><br>

      Finally, at the very bottom you can enter the <b>score</b> you want to give to this submission and<br>
      click the <b>submit</b> button to get it over with. Note that you need to provide an explanation<br>
      if a submission does not get the maximum points by either commenting or assigning labels.<br><br>

      If the comments distract you too much, you can toggle the <b>feedback visibility</b> by clicking<br>
      the text-bubble icon at the top. The files icon lets you <b>copy the submission</b> to clipboard.<br><br>

      Finally, for markdown submissions, clicking the Σ icon at the top toggles the <b>math rendering</b>.<br>
      For a full <b>markdown preview</b>, find the clipboard icon below the submission text.<br>

      <!-- old flavor text --
      Never trade an ale.
      The sea-dog leads with yellow fever, crush the captain's quarters until it waves.<br>
      Ho-ho-ho! malaria of life.<br>
      Halitosis, adventure, and yellow fever.<br>
      The girl drinks with halitosis, pull the galley before it laughs.<br>
      The moon fires with life, vandalize the bikini atoll before it travels.<br>
      The tuna blows with fight, haul the freighter before it whines.<br>
      The cannibal robs with hunger, fire the lighthouse until it whines.<br>
      The captain loves with death, vandalize the lighthouse before it whines.<br>
      The anchor loots with treasure, raid the freighter before it grows.<br>
      The reef commands with endurance, view the quarter-deck until it whines.<br>
      The scallywag loots with passion, crush the bikini atoll before it falls.<br>
      The sea leads with treasure, ransack the brig until it dies.<br>
      The parrot robs with desolation, view the seychelles before it screams.<br>
      The warm anchor quirky blows the landlubber.<br> 
      -- old flavor text -->
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'CorrectionHelpCard'
}
</script>

<style scoped>
  .help-card {
    width: fit-content;
  }
</style>
