<template>
  <v-dialog
    v-model="dialog"
    max-width="30%"
  >
    <v-card class="text-center">
      <v-card-title class="title">
        Are you sure?
      </v-card-title>
      <v-card-text>
        Not submitted feedback will be lost!
      </v-card-text>
      <v-card-actions>
        <v-btn
          text
          outlined
          color="red lighten-1"
          @click="changeRoute"
        >
          Change page
        </v-btn>
        <v-btn
          text
          outlined
          @click="dialog = false"
        >
          Stay here
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { SubmissionNotes } from '@/store/modules/submission-notes'

export default {
  name: 'RouteChangeConfirmation',
  props: {
    nextRoute: {
      type: Function,
      default: null
    }
  },
  data () {
    return {
      dialog: false
    }
  },
  watch: {
    nextRoute (newVal, oldVal) {
      if (newVal !== oldVal && SubmissionNotes.workInProgress) {
        this.dialog = true
      } else {
        this.nextRoute()
      }
    }
  },
  methods: {
    changeRoute () {
      this.nextRoute()
      this.dialog = false
    }
  }
}
</script>

<style scoped>

</style>
