<template>
  <div>
    <base-annotated-submission>
      <template
        id="sub-lines"
        #table-content
      >
        <!-- top display (additional info about the student & submission) -->
        <v-card :color="submissionIsDummy ? 'grey lighten-1' : 'teal lighten-3'">
          <v-card-text>
            <v-row>
              <v-col>
                <h2>
                  Submission of "{{ submissionObj.ofStudent }}"
                </h2>
              </v-col>
              <v-col class="text-left">
                <v-btn
                  :to="`/feedback/${submissionObj.pk}`"
                  :disabled=submissionIsDummy
                  color="teal lighten-4"
                >
                  <v-icon class="shifted-left mr-1">
                    {{submissionIsDummy ? 'close' : 'double_arrow' }}
                  </v-icon>
                  {{submissionIsDummy ? 'No Submission Found' : 'GoTo Submission' }}
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="shifted-up">
                <h5>
                  for Task "{{ submissionTypeHeaders.find((e) => e.pk === submissionObj.type).name }}"
                </h5>
               </v-col>
            </v-row>
          </v-card-text>
          <!-- IFF this submission is proper, display some meta data -->
          <div v-if="!submissionIsDummy">
            <v-card
              class="me-1"
              color="teal lighten-4"
              width="9001"
            >
              <!-- IFF we have feedback, display the meta data about it here -->
              <v-card-text v-if="feedbackObj">
                <!-- Score -->
                <v-chip
                  :color="
                    scoreIsMaxed ? 'green accent-2' :
                    scoreIsZero ? 'red lighten-3' :
                    'yellow lighten-4'"
                  class="me-2"
                >
                  Score: {{ feedbackObj['score'] }} / {{ submissionObj['fullScore'] }}
                </v-chip>
                <!-- Submission Finalized ? -->
                <v-chip color="transparent" class="me-0">
                  Final
                  <v-icon class="ml-1">
                    {{feedbackObj['isFinal'] ? 'check_circle_outline' : 'radio_button_unchecked'}}
                  </v-icon>
                </v-chip>
                <!-- Assigned Labels: Display every assigned label or "None" -->
                <v-chip color="transparent" class="me-0">
                  Assigned Labels :
                </v-chip>
                <feedback-label
                  v-for="label_pk in feedbackObj['labels']"
                  :key="label_pk - 1"
                  v-bind="availableFeedbackLabels[label_pk - 1]"
                />
                <v-chip color="transparent" class="me-2" v-if="feedbackObj['labels'].length === 0">
                  None
                </v-chip>
              </v-card-text>
              <!-- if there is no feedback, display this minimal explaination instead -->
              <v-card-text v-else>
                <v-icon color="red">
                  error
                </v-icon>
                <v-chip
                  color="transparent"
                  class="me-2"
                >
                  No Feedback available for this Submission (yet).
                </v-chip>
              </v-card-text>
            </v-card>
          </div>
        </v-card>
        <!-- mid display (the main submission body) -->
        <!-- iterate over all lines of the submission as tr = table-row -->
        <div v-if="!submissionIsDummy">
          <tr
            v-for="(code, lineNo) in submissionBody"
            :id="`sub-line-${lineNo}`"
            :key="`${submissionObj.pk}${lineNo}`"
          >
            <!-- in the pure display, all feedback should be displayed; so no hiding; Also no math rendering -->
            <submission-line
              :code="code"
              :line-no="lineNo"
              :mathIsRendered="false"
            >
              <!-- if there is any feedback at all, check if there is a comment on this line -->
              <div v-if="feedback && feedback.feedbackLines[lineNo]">
                <!-- iterate over all the comments -->
                <div
                  v-for="(comment, cmnt_index) in getSortedComments(lineNo)"
                  :key="cmnt_index"
                >
                  <!-- display the comment -->
                  <feedback-comment
                    :visible-to-student-bool="comment.visibleToStudent"
                    :line-no="lineNo"
                    v-bind="comment"
                    :labelSelectorVisible=false
                  />
                  <!-- and the labels that were assigned to that comment -->
                  <feedback-label
                    v-for="(label_pk, label_index) in comment.labels"
                    :key="label_index"
                    v-bind="availableFeedbackLabels[label_pk - 1]"
                  />
                </div>
              </div>
            </submission-line>
          </tr>
        </div>
      </template>
    </base-annotated-submission>
  </div>
</template>

<script>
// components
import Component from 'vue-class-component'
import BaseAnnotatedSubmission from '@/components/submission_notes/base/BaseAnnotatedSubmission.vue'
import SubmissionLine from '@/components/submission_notes/base/SubmissionLine.vue'
import FeedbackComment from '@/components/submission_notes/base/FeedbackComment.vue'
import FeedbackLabel from '@/components/feedback_labels/FeedbackLabel.vue'
// models
import { FeedbackLabels } from '@/store/modules/feedback-labels'
// utils
import store from '@/store/store'
import * as helpers from '@/util/helpers'
import { getters } from '@/store/getters'

export default {
  name: 'SubmissionDisplay',
  components: {
    SubmissionLine,
    BaseAnnotatedSubmission,
    FeedbackComment,
    FeedbackLabel,
  },

  props: {
    assignment: {
      default: () => {},
      type: Object
    },
    submissionWithoutAssignment: {
      default: () => {},
      type: Object
    },
    feedback: {
      default: () => {},
      type: Object
    },
  },

  data () {
    return {
      key: 0,
      loading: false,
    }
  },
  computed: {
    submissionType () {
      return store.state.submissionTypes[this.submissionObj.type]
    },
    submissionBody () {
      return helpers.highlightSubmissionText(this.submissionWithoutAssignment.text, 'plaintext')
    },
    submissionIsDummy () {
      return this.submissionObj.fullScore === null ? true : false
    },
    feedbackObj () {
      // NOTE: assignment is currently entirely ignored
      return this.assignment ? this.assignment.feedback : this.feedback
    },
    submissionObj () {
      // NOTE: assignment is currently entirely ignored
      return this.assignment ? this.assignment.submission : this.submissionWithoutAssignment
    },
    submissionTypeHeaders () {
      const subTypes = Object.values(getters.state.submissionTypes)
      return subTypes.sort((a, b) => a.name.localeCompare(b.name))
    },
    // determine if score of submission is maxed
    scoreIsMaxed () {
      return this.feedbackObj['score'] / this.submissionObj['fullScore'] >= 1 ? true : false
    },
    // determine if score of submission is 0 (basically just to keep the vue code short...)
    scoreIsZero () {
      return this.feedbackObj['score'] === 0 ? true : false
    },
    // get an array of all available feedback labels transformed into proper objects
    availableFeedbackLabels () {
      return FeedbackLabels.availableLabels
    },
    // placeholders for now (they dont actually look at the individual submissions)
    sourceCodeAvailable () {
      return SubmissionNotes.state.submission.sourceCodeAvailable
    },
    isMarkdown () {
      const lang = SubmissionNotes.submissionType.programmingLanguage
      return lang === SubmissionType.ProgrammingLanguageEnum.Markdown
    },
  },
  methods: {
    getSortedComments (lineNo) {
      // the 2nd expression behind the or will never be evaluated to true...
      // if (!this.feedback || (!this.feedback && !this.feedback.feedbackLines[lineNo])) return new Array()
      if (!this.feedback) return new Array()

      let feedback_copy = [...this.feedback.feedbackLines[lineNo]]
      return feedback_copy.sort((a, b) => {
        const da = new Date(a.modified)
        const db = new Date(b.modified)
        return da.getTime() - db.getTime()
      })
    },
  },
}
</script>

<style scoped>
.shifted-up {
  margin-top: -36px;
}
.shifted-left {
  margin-left: -6px;
}
</style>
