<template>
  <two-pane-layout>
    <template #left>
      <router-view name="left" />
    </template>
    <template #right>
      <v-container>
        <router-view
          name="right"
          @refresh="refresh"
        />
      </v-container>
    </template>
  </two-pane-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { FeedbackTable } from '@/store/modules/feedback_list/feedback-table'
import TwoPaneLayout from '@/components/TwoPaneLayout.vue'

@Component({
  components: { TwoPaneLayout }
})
export default class FeedbackHistoryPage extends Vue {
  refresh () {
    FeedbackTable.getFeedbackHistory()
  }

  created () {
    FeedbackTable.getFeedbackHistory()
  }
}
</script>
