<template>
  <v-container fluid>
    <v-row
      class="center"
      justify
    >
      <template v-if="loaded">
        <v-col
          class="mt-5"
          md="10"
          offset="1"
        >
          <h2>Your submissions:</h2>
          <submission-list :submissions="submissions" />
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
import SubmissionList from '@/components/student/SubmissionList.vue'
import { StudentPage } from '@/store/modules/student-page'
import { FeedbackLabels } from '@/store/modules/feedback-labels'

export default {
  name: 'StudentPage',
  components: {
    SubmissionList
  },
  computed: {
    submissions () { return StudentPage.state.submissionsForList },
    loaded () { return StudentPage.state.loaded }
  },
  created: function () {
    if (!this.loaded) {
      StudentPage.getStudentData().then(() => {
        FeedbackLabels.getLabels()
        StudentPage.getStudentSubmissions()
      })
    }
  }
}
</script>

<style scoped>
</style>
