<template>
  <tutor-reviewer-base-layout>
    <template #above-subscriptions>
      <v-list
        v-if="isInExerciseMode"
        dense
      >
        <v-list-item :to="'/participant-overview'">
          <v-list-item-action>
            <v-icon> people </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ "Participants" }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>
  </tutor-reviewer-base-layout>
</template>

<script>

import TutorReviewerBaseLayout from '@/pages/base/TutorReviewerBaseLayout'
import { ConfigModule } from '@/store/modules/config'

export default {
  name: 'TutorLayout',
  components: {
    TutorReviewerBaseLayout
  },
  computed: {
    isInExerciseMode: () => { return ConfigModule.state.config.instanceSettings['exerciseMode'] }
  }
}
</script>
