<template>
  <v-container>
    <v-row>
      <v-col
        lg="6"
        md="12"
      >
        <change-log />
      </v-col>
      <v-col
        lg="6"
        md="12"
      >
        <correction-statistics />
      </v-col>
      <v-col>
        <SubmissionTypesOverview />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ChangeLog from '@/components/ChangeLog'
import CorrectionStatistics from '@/components/CorrectionStatistics'
import SubmissionTypesOverview from '@/components/submission_type/SubmissionTypesOverview'

export default {
  name: 'TutorStartPage',
  components: {
    SubmissionTypesOverview,
    CorrectionStatistics,
    ChangeLog }
}
</script>

<style scoped>

</style>
