<template>
  <v-card
    id="subscription-ended"
    class="mx-auto center-page"
  >
    <v-card-title class="title">
      No submissions left
    </v-card-title>
    <v-card-text>
      All submissions of this type in the current stage have been corrected. If you've
      been validating feedback or <br>
      reviewing, new submissions might be available in the future.
      If that is the case they will appear clickable in the sidebar again.
    </v-card-text>
    <v-card-actions class="text-center">
      <v-btn to="/home">
        Overview
      </v-btn>
      <v-btn to="/feedback">
        Feedback History
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import store from '@/store/store'

@Component
export default class SubscriptionEnded extends Vue {
}

</script>

<style scoped>
  .center-page {
    width: fit-content;
    top: 30vh;
  }
</style>
