<template>
  <v-list
    :dense="dense"
  >
    <div
      v-for="(subType, i) in submissionTypes"
      :key="subType.pk"
    >
      <subtype-element
        :id="`subtype-element-${i}`"
        :name="subType.name"
        :sub_type_pk="subType.pk"
        :available="1"
      >
      </subtype-element>
    </div>
  </v-list>
</template>

<script>
import SubtypeElement from '@/components/subscriptions/SubtypeElement'
import { Assignments } from '@/store/modules/assignments'
import store from '../../store/store'
export default {
  name: 'SubtypeList',
  components: {
    SubtypeElement
  },
  props: {
    stage: {
      type: String,
      required: true
    },
    dense: {
      type: Boolean,
      default: false
    }
  },
  computed: {
      submissionTypes () { return store.state.submissionTypes }
  }
}
</script>

<style scoped>

</style>
