<template>
  <v-list-item
    exact
    :to="correctionRoute"
    style="width: 100%"
  >
    <v-list-item-content
      :class="available > 0 ? 'mr-3 active-subscription' : 'mr-3 inactive-subscription'"
    >
      {{ name }}
    </v-list-item-content>
    
    <!-- display remaining count if any remain -->
    <v-list-item-action-text class="teal--text text--lighten-3" v-if="available > 0">
      left: {{ available }}
    </v-list-item-action-text>
    <!-- display a checkmark otherwise -->
    <v-list-item-action-text v-else>
      <v-icon color="#b0b0b0">
        check
      </v-icon>
    </v-list-item-action-text>

  </v-list-item>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Assignment , FeedbackStageEnum } from '@/models'
import { Assignments } from '@/store/modules/assignments'

@Component
export default class SubtypeElement extends Vue {
  @Prop({ type: String, required: true }) name!: string
  @Prop({ type: String, required: true }) sub_type_pk!: string

  get active () {
    return !!this.available
  }

  get available () {
    const stage = Assignments.state.assignmentCreation.stage
    const sub_type = this.sub_type_pk
    const forSubType = Assignments.state.submissionsLeft[sub_type]
    const forStage = forSubType !== undefined ? forSubType[stage] : undefined
    return forStage
  }

  get correctionRoute() { // this is where the group is chosen/determined - put default gr here ?
    if (!this.active)
      return undefined

    const group = Assignments.state.assignmentCreation.group
    const group_pk = group !== undefined ? group.pk : undefined

    return {
      name: 'correction',
      params: {
        sub_type: this.sub_type_pk,
        stage: Assignments.state.assignmentCreation.stage,
        group: group_pk || undefined,
      }
    }
  }
}
</script>

<style scoped>
  .inactive-subscription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    color: #B5B5B5;
  }

  .active-subscription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
