{% load static %}
<!DOCTYPE html><html><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><title>Grady</title><script>MathJax = {
        loader: {load: ['input/asciimath', 'output/chtml', 'input/tex']},
        asciimath: {
          delimiters: [['$', '$']]
        },
        options: {
          skipHtmlTags: [ // HTML tags that won't be searched for math
              'script', 'noscript', 'style', 'textarea', 'pre',
              'code', 'annotation', 'annotation-xml'
          ],
          includeHtmlTags: { // HTML tags that can appear within math
              br: '\n', wbr: '', '#comment': ''
          },
          // every element that features these class names will be ignored;
          // since the main body element features them, everything is ignored by default
          ignoreHtmlClass: 'mathjax_ignore',
          // every element that features these class names will be processed, EVEN
          // if it was previously skipped ! So add this to elements that should be parsed
          processHtmlClass: 'mathjax_process',
        }
      }</script><script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script><script id=MathJax-script async src=https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js></script><link href={% static 'css/app.becac7c7.css' %} rel=preload as=style><link href={% static 'css/chunk-vendors.137822cd.css' %} rel=preload as=style><link href={% static 'js/app.1ac12bab.js' %} rel=preload as=script><link href={% static 'js/chunk-vendors.fab0cac9.js' %} rel=preload as=script><link href={% static 'css/chunk-vendors.137822cd.css' %} rel=stylesheet><link href={% static 'css/app.becac7c7.css' %} rel=stylesheet></head><body class=mathjax_ignore><noscript><strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div><script src={% static 'js/chunk-vendors.fab0cac9.js' %}></script><script src={% static 'js/app.1ac12bab.js' %}></script></body></html>