<template>
  <!-- Loading Screen -->
  <div v-if="this.loading">
    <v-card color="teal lighten-5">
      <v-card-text>
        <h1 v-if="!this.stopped" class="mt-3">Currently loading all Submissions...</h1>
        <h1 v-else class="mt-3">Loading has been stopped</h1>
        <br>
        In this Overview you can see every corrected Submission from every Task.<br>
        The idea is to provide an easy way to export a graphical overview of the results.<br>
        <br>
        The loading process might take a while depending on how big the Dataset is.<br>
        <br>
        <v-chip color="transparent">
          Loaded Submissions: {{this.loaded_submissions}} / {{this.expected_submissions}}
        </v-chip>
        <div :style="{ width: '444px' }">
          <!-- "class" prop sets background color; "background-color" sets buffer color... -->
          <v-progress-linear
            height="6"
            rounded
            class="mt-1 mb-3"
            id="exhaustive-overview-progress-bar"
            :value="100 * this.loaded_submissions / this.expected_submissions"
            :color="
              this.loaded_submissions === this.expected_submissions ? 'green' :
              this.stopped ? 'red' : 'blue'"
            background-color="blue lighten-4"
          />
        </div>
      </v-card-text>
    </v-card>
  </div>
  <!-- when loading is done, spawn a dialog window to display the overview -->
  <v-dialog
    v-else
    id="overview-display"
    v-model="this.dialog"
    fullscreen
    hide-overlay
  >
    <!-- Everything content-wise is stored on this v-card to toggle it off during Loading -->
    <v-card>
      <v-card color="teal lighten-2">
        <v-toolbar
          dark
          fixed
          color="#1A237E"
        >
          <v-btn
            id = "close-overview-dialog"
            icon
            dark
            :disabled="this.loading"
            @click="this.returnHome"
          >
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Exhaustive Submission Overview</v-toolbar-title>
          <v-spacer />
        </v-toolbar>
        <v-card color="#414fb5">
          <v-card-text class="white--text" id="exhaustive-overview-info-card">
            In this Overview you can see every corrected Submission from every Task.<br>
            The idea is to provide an easy way to export a graphical overview of the results.<br>
            <br>
            The Submissions are sorted by Task-Index first and then alphabetically<br>
            by Student names. If you wish to sort them by names first instead, you<br>
            you can <b>toggle</b> that here (can take a short while):<br>
            <br>
            <v-btn
              id="toggle-sorting-mode-btn"
              :color="'teal lighten-3'"
              @click="toggleSortingMode"
              :disabled="this.sorting"
            >
              <v-icon class="mr-4">
                {{sorting_mode_A
                  ? 'person double_arrow calendar_today'
                  : 'calendar_today double_arrow person'
                }}
              </v-icon>
              {{sorting_mode_A ? 'Sort by Names then by Task' : 'Sort by Task then by Names'}}
            </v-btn>
            <br>
            <br>
            <student-list
              :minimalistic="true"
              :disablePagination="true"
            />
            <br>
            <correction-statistics />
            <br>
            <!-- display every feedback label that's available  -->
            <feedback-label-overview/>
          </v-card-text>
        </v-card>
      </v-card>
      <!-- now display every submission in the chosen order -->
      <div v-for="(submission, index) in all_submissions" :key="index">
        <submission-display
          :submission-without-assignment="submission"
          :feedback="submission.feedback"
        />
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import VueInstance from '@/main'
import * as api from '@/api'
import store from '@/store/store'
import { getters } from '@/store/getters'
import StudentList from '@/components/student_list/StudentList'
import CorrectionStatistics from '@/components/CorrectionStatistics.vue'
import FeedbackLabelOverview from '@/components/feedback_labels/FeedbackLabelOverview.vue'
import SubmissionDisplay from '@/components/submission_notes/SubmissionDisplay'

export default {
  name: 'ExhaustiveOverview',
  components: {
    StudentList,
    SubmissionDisplay,
    CorrectionStatistics,
    FeedbackLabelOverview,
  },
  data () {
    return {
      dialog: true,
      loading: true,
      sorting: true,
      loaded_submissions: 0,
      expected_submissions: 0,
      stopped: false,
      submission_type_dict: {},
      missing_subs_dict: {},
      all_submissions: [],
      sorting_mode_A: true,
    }
  },
  computed: {
    // get an array of all available feedback labels transformed into proper objects
    availableFeedbackLabels () {
      return FeedbackLabels.availableLabels
    },
    // get all possible tasks for this exam
    submissionTypeHeaders () {
      const subTypes = Object.values(getters.state.submissionTypes)
      return subTypes
        .sort((a, b) => a.name.localeCompare(b.name))
    },
  },
  created () {
    this.init_data()
  },
  methods: {
    async init_data() {
      // get a full list of all students
      var student_list = await api.fetchAllStudents()
      // create a lookup dictionary to map submission type pk's to their names
      // also create a flag-array to detect missing submissions
      for (var i = 0; i < this.submissionTypeHeaders.length; i++) {
        this.submission_type_dict[this.submissionTypeHeaders[i].pk] = this.submissionTypeHeaders[i].name
        this.missing_subs_dict[this.submissionTypeHeaders[i].pk] = 1
      }
      this.loaded_submissions = 0
      this.expected_submissions = (student_list.length * this.submissionTypeHeaders.length)
      // now attempt to grab all the listed submissions
      for (const student of student_list) {
        // reset the flag-array to detect missing submissions
        for (const key_type_pk in this.missing_subs_dict) {
          if (this.missing_subs_dict.hasOwnProperty(key_type_pk))
            this.missing_subs_dict[key_type_pk] = 1
        }
        for (const submission of student.submissions) {
          // the submission linked to the student objects is primitive - get the full object
          const sub_obj = await api.fetchSubmissionObj(submission.pk)
          this.missing_subs_dict[sub_obj.type] = 0
          // failed api call ?
          if (sub_obj === undefined) {
            this.$notify({
              title: 'Fetching submission failed !',
              text: 'Failed Submission: Student='+student.name+' sType='+submission.pk,
              type: 'error'
            })
          }
          this.all_submissions.push(sub_obj)
          this.loaded_submissions = this.loaded_submissions + 1
        }
        // now check if submissions were missing
        for (const key_type_pk in this.missing_subs_dict) {
          if (this.missing_subs_dict.hasOwnProperty(key_type_pk)) {
            if (this.missing_subs_dict[key_type_pk] === 0) continue
            // this submission is missing; create a dummy replacement to display this fact
            const dummy_sub = this.create_dummy_submission(student.name, key_type_pk)
            this.all_submissions.push(dummy_sub)
            this.loaded_submissions = this.loaded_submissions + 1
          }
        }
        // stop loading if the process was stopped
        if (this.stopped === true) break
      }
      // initial mode_A sort
      this.sortSubmissionsModeA()
      this.sorting = false
      this.loading = false
    },
    returnHome () {
      this.$router.push('/home')
    },
    stopLoadingProcess () {
        this.stopped = true
    },
    // sorting mode A == sort by names first, then by task
    sortSubmissionsModeA() {
      this.all_submissions.sort((a, b) => {
        var temp = a.ofStudent.localeCompare(b.ofStudent)
        if (temp === 0) { // both submissions from the same student
          return this.submission_type_dict[a.type].localeCompare(this.submission_type_dict[b.type])
        }
        return temp
      })
    },
    // sorting mode B == sort by task first, then by names
    sortSubmissionsModeB() {
      this.all_submissions.sort((a, b) => {
        var temp = this.submission_type_dict[a.type].localeCompare(this.submission_type_dict[b.type])
        if (temp === 0) { // both submissions from the same task
          return a.ofStudent.localeCompare(b.ofStudent)
        }
        return temp
      })
    },
    toggleSortingMode() {
      this.sorting = true
      this.sorting_mode_A = !this.sorting_mode_A
      if (this.sorting_mode_A === true)
        this.sortSubmissionsModeA()
      else
        this.sortSubmissionsModeB()
      this.sorting = false
    },
    async getStudents() {
      return await api.fetchAllStudents()
    },
    create_dummy_submission (student_name, type_pk) {
      return {
        feedback: null,
        fullScore: null,
        ofStudent: student_name,
        text: '',
        type: type_pk
      }
    },
    refresh (opts = { silent: false }) {
      if (!opts.silent) {
        this.loading = true
      }
      this.getStudents().then(() => { this.loading = false })
    },
  },
}
</script>

<style scoped>
  .submission-button {
    min-width: 40px
  }
</style>
