<template>
  <component :is="startPage" />
</template>

<script>
import { mapGetters } from 'vuex'
import TutorStartPage from '@/pages/tutor/TutorStartPage'
import StudentPage from '@/pages/student/StudentPage'
import ReviewerStartPage from '@/pages/reviewer/ReviewerStartPage'
import { Authentication } from '@/store/modules/authentication'
export default {
  name: 'StartPageSelector',
  components: {
    ReviewerStartPage,
    StudentPage,
    TutorStartPage
  },
  computed: {
    isStudent () { return Authentication.isStudent },
    isTutor () { return Authentication.isTutor },
    isReviewer () { return Authentication.isReviewer },
    startPage () {
      if (this.isStudent) {
        return 'student-page'
      } else if (this.isTutor) {
        return 'tutor-start-page'
      } else if (this.isReviewer) {
        return 'reviewer-start-page'
      }

      return undefined
    }
  }
}
</script>

<style scoped>

</style>
