<template>
  <v-container>
    <v-row>
      <v-col>
        <label-statistics />
      </v-col>
      <v-col>
        <correction-statistics />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import CorrectionStatistics from '@/components/CorrectionStatistics.vue'
import LabelStatistics from '@/components/LabelStatistics.vue'


@Component({
  components: {CorrectionStatistics, LabelStatistics}
})
export default class Statistics extends Vue {


}
</script>
