<template>
  <div>
    <route-change-confirmation :next-route="nextRoute" />
    <submission-correction
      :submission-without-assignment="submission"
      :feedback="submission.feedback"
      :ignore-hidden-state="true"
      @feedbackCreated="refresh"
      @feedbackChanged="refresh"
    />
    <submission-tests
      :tests="submission.tests"
      class="mt-4"
    />
    <submission-type
      :key="submissionType.pk"
      v-bind="submissionType"
      :reverse="true"
      :expanded-by-default="{ Description: true, Solution: true }"
      class="mt-1"
    />
  </div>
</template>

<script>
import store from '@/store/store'
import VueInstance from '@/main'
import SubmissionCorrection from '@/components/submission_notes/SubmissionCorrection'
import SubmissionTests from '@/components/SubmissionTests'
import SubmissionType from '@/components/submission_type/SubmissionType'
import RouteChangeConfirmation from '@/components/submission_notes/RouteChangeConfirmation'
import { actions } from '@/store/actions'

function onRouteEnterOrUpdate (to, from, next) {
  const toIsSubmissionSideView = to.matched.some(route => route.meta.submissionSideView)
  if (toIsSubmissionSideView) {
    let submission = store.state.submissions[to.params.submissionPk]
    if (!submission) {
      store.dispatch('getSubmissionFeedbackTest', { pk: to.params.submissionPk }).then(() => {
        VueInstance.$nextTick(() => {
          next()
        })
      }).catch(() => {
        VueInstance.$notify({
          title: 'Error',
          text: 'Unable to fetch student data',
          type: 'error'
        })
        next(false)
      })
    } else {
      next()
    }
  } else {
    next()
  }
}

export default {
  name: 'StudentSubmissionSideView',
  components: {
    RouteChangeConfirmation,
    SubmissionType,
    SubmissionTests,
    SubmissionCorrection },
  data () {
    return {
      nextRoute: null
    }
  },
  computed: {
    submissionPk () {
      return this.$route.params['submissionPk']
    },
    submission () {
      return this.$store.state.submissions[this.submissionPk]
    },
    submissionType () {
      return this.$store.state.submissionTypes[this.submission.type]
    }
  },
  methods: {
    refresh () {
      this.$emit('refresh')
      const studentPk = this.$route.params.studentPk
      if (studentPk) {
        actions.getStudents({ studentPks: [studentPk] })
      }
      const submissionPk = this.$route.params.submissionPk
      actions.getSubmissionFeedbackTest({ pk: submissionPk })
    }
  },
  beforeRouteEnter (to, from, next) {
    onRouteEnterOrUpdate(to, from, next)
  },
  beforeRouteUpdate (to, from, next) {
    this.nextRoute = () => {
      onRouteEnterOrUpdate(to, from, next)
    }
  },
  beforeRouteLeave (to, from, next) {
    this.nextRoute = next
  }
}
</script>

<style scoped>

</style>
