<template>
  <div
    id="app"
    @click="logInteraction"
  >
    <v-app>
      <notifications />
      <notifications
        group="msg"
        position="bottom left"
      />
      <router-view />
      <auto-logout />
    </v-app>
  </div>
</template>

<script>
// load fonts and icons so that webpack processes them
import '@/assets/material-icons.css'
import '@/assets/fonts.css'

import { UI } from '@/store/modules/ui'
import AutoLogout from '@/components/AutoLogout'
import { mutations } from './store/mutations'

export default {
  name: 'App',
  components: { AutoLogout },
  methods: {
    logInteraction () {
      mutations.SET_LAST_INTERACTION()
    }
  }
}
</script>

<style>
  #app {
    font-family: Roboto, sans-serif;
  }
  a {
    text-decoration: none;
  }
  span {
    tab-size: 4;
  }
</style>
