<template>
  <tutor-reviewer-base-layout>
    <template #above-subscriptions>
      <v-list
        dense
      >
        <v-list-item
          v-for="(item, i) in subGeneralNavItems"
          :key="i"
          :id="item.tagId"
          :to="item.route"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ item.name }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>
  </tutor-reviewer-base-layout>
</template>

<script>
import TutorReviewerBaseLayout from '@/pages/base/TutorReviewerBaseLayout'

export default {
  name: 'ReviewerLayout',
  components: { TutorReviewerBaseLayout },
  data () {
    return {
      subGeneralNavItems: [
        {
          name: 'Participants',
          icon: 'people',
          route: '/participant-overview',
          tagId: 'participants'
        },
        {
          name: 'Tutors',
          icon: 'people',
          route: { name: 'tutor-overview' },
          tagId: 'tutors'
        },
        {
          name: 'Submission Overview',
          icon: 'list_alt',
          route: '/exhaustive-overview',
          tagId: 'summary'
        },
      ]
    }
  }
}
</script>

<style scoped>
</style>
