<template>
  <tutor-list class="ma-2 elevation-1" />
</template>

<script>
import store from '@/store/store'
import TutorList from '@/components/tutor_list/TutorList'
import { actions } from '@/store/actions'
import { TutorOverview } from '@/store/modules/tutor-overview'

export default {
  name: 'TutorOverviewPage',
  components: { TutorList },
  beforeRouteEnter (to, from, next) {
    TutorOverview.getTutors()
    TutorOverview.getActiveAssignments()
    next()
  }
}
</script>

<style scoped>

</style>
