<template>
  <v-card>
    <v-card-text>
      <v-toolbar flat>
        <v-toolbar-title>
          Participants
        </v-toolbar-title>
        <v-spacer />
        <v-toolbar-items />
        <v-select
          v-if="!minimalistic"
          v-model="selectedGroup"
          :items="groups"
          item-text="name"
          label="Group"
          single-line
          return-object
          hide-details
          clearable
          flat
          class="mr-6"
        />
        <v-text-field
          v-if="!minimalistic"
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
          class="mr-6"
        />
        <student-list-reverse-mapper />
        <v-btn
          icon
          @click="refresh"
        >
          <v-icon>refresh</v-icon>
        </v-btn>
        <student-list-menu :minimalistic="minimalistic"/>
      </v-toolbar>
      <v-divider />
      <v-data-table
        :headers="headers"
        :items="studentListItems"
        :search="search"
        sort-by="name"
        :loading="loading"
        item-key="name"
        show-expand
        must-sort
        :disable-pagination="disablePagination"
        :hide-default-footer="disablePagination"
      >
        <template #item="{ expand, isExpanded, item }">
          <tr>
            <!-- Expand/Collapse column -->
            <td>
              <v-btn
                v-if="!minimalistic"
                small
                icon
                @click="expand(!isExpanded)"
              >
                <v-icon v-if="isExpanded">
                  keyboard_arrow_up
                </v-icon>
                <v-icon v-else>
                  keyboard_arrow_down
                </v-icon>
              </v-btn>
            </td>
            <!-- Student Name / Alias column -->
            <td class="text-left">
              {{ item.name }}
            </td>
            <!-- Access Status column -->
            <td v-if="!minimalistic">
              <v-tooltip top>
                <template #activator="{ on }">
                  <div v-on="on">
                    <v-icon
                      v-if="item.isActive"
                      small
                    >
                      lock_open
                    </v-icon>
                    <v-icon
                      v-else
                      small
                    >
                      lock
                    </v-icon>
                  </div>
                </template>
                <span v-if="!item.isActive">Participant doesn't have access.</span>
                <span v-else>Participant has access.</span>
              </v-tooltip>
            </td>
            <!-- Submission Columns (showing score + providing Link access) -->
            <td
              v-for="type in submissionTypeHeaders"
              :key="type.pk"
              class="text-left"
            >
              <v-btn
                v-if="item[type.pk]"
                small
                rounded
                outlined
                class="submission-button"
                exact
                :to="{name: 'submission-side-view', params: {
                  studentPk: item.pk,
                  submissionPk: item[type.pk].pk
                }}"
                :color="item[type.pk].final ? 'green darken-2' : 'grey'"
                @click="showSubmissionDetails"
              >
                {{ item[type.pk].score }}
              </v-btn>
              <v-btn
                v-else
                disabled
                small
                rounded
                outlined
                class="submission-button"
                exact
              >
                /
            </v-btn>
            </td>
            <!-- Total Score column -->
            <td class="text-center">
              {{ item.total }}
            </td>
          </tr>
        </template>
        <template #expanded-item="{ headers, item }">
          <td :colspan="headers.length" v-if="!minimalistic">
            <v-btn
              v-if="isReviever"
              @click="changeActiveStatus(item)"
            >
              {{ item.isActive ? 'Revoke access' : 'Grant access' }}
            </v-btn>
            <ul class="student-info-list">
              <li><b>Modul:</b> {{ item.exam }}</li>
              <li><b>MatrikelNr:</b> {{ item.matrikelNo }}</li>
            </ul>
          </td>
        </template>
      </v-data-table>
      <!-- when pagination is disabled, add some whitespace -->
      <div style="margin-top: 10px;" v-if="computedDisablePagination"></div>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import StudentListMenu from '@/components/student_list/StudentListMenu'
import StudentListReverseMapper from '@/components/student_list/StudentListReverseMapper'
import { changeActiveForUser, fetchUser } from '@/api'
import { getters } from '@/store/getters'
import { Authentication } from '@/store/modules/authentication'
import { Assignments } from '@/store/modules/assignments'
import * as api from '@/api'

export default {
  name: 'StudentList',
  components: {
    StudentListReverseMapper,
    StudentListMenu
  },
  props: {
    // setting this will hide some of the controls for pure viewing
    minimalistic: {
      type: Boolean,
      default: false,
    },
    // setting this will disable the pagination
    disablePagination: {
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
      loading: true,
      search: '',
      selectedGroup: null,
      userData: [],
      userMap: null
    }
  },
  computed: {
    // this is only here to force the v-if above to re-evaluate it
    computedDisablePagination() {
      return this.disablePagination
    },
    ...mapState([
      'students'
    ]),
    isReviever() {
      return Authentication.isReviewer
    },
    submissionTypeHeaders () {
      const subTypes = Object.values(getters.state.submissionTypes)
      return subTypes
        .sort((a, b) => a.name.localeCompare(b.name))
        .map(type => {
          return {
            pk: type.pk,
            text: type.name.substr(0, 5),
            value: `${type.pk}.score`,
            align: 'left'
          }
        })
    },
    headers () {
      let temp = [
        {
          text: 'Name',
          align: 'left',
          value: 'name',
        },
        {
          text: 'Has Access',
          align: 'left',
          value: 'isActive',
        },
        ...this.submissionTypeHeaders,
        {
          text: 'Total',
          align: 'center',
          value: 'total',
        },
      ]
      // in the minimalistic version I dont want the access column
      if (this.minimalistic === true) temp.splice(1, 1)
      return temp
    },
    studentListItems () {
      if (!this.loading) {
        let filteredStudents = this.students
        if (this.selectedGroup !== null) {
          filteredStudents = Object.values(filteredStudents).filter(student => {
            let userGroups = this.userMap.get(student.userPk)
            return userGroups.some(group => group.pk === this.selectedGroup.pk)
          })
        }
        return Object.values(filteredStudents).map(student => {
          return {
            pk: student.pk,
            user: student.user,
            userPk: student.userPk,
            exam: student.exam,
            name: student.name,
            isActive: student.isActive,
            matrikelNo: student.matrikelNo,
            ...this.reduceArrToDict(student.submissions, 'type'),
            total: this.sumSubmissionScores(student.submissions)
          }
        })
      }
      return []
    },
    groups () {
      if (Authentication.isTutor) {
        return Authentication.state.user.exerciseGroups
      }
      else if (Authentication.isReviewer) {
        return Assignments.state.groups
      }
      else {
        return []
      }
    },
  },
  created () {
    this.getUserData()
    this.getStudents().then(() => { this.loading = false })
    const groups = Assignments.getGroups()
  },
  methods: {
    ...mapActions([
      'getStudents'
    ]),
    reduceArrToDict (arr, key) {
      return arr.reduce((acc, curr) => {
        const keyInDict = curr[key]
        acc[keyInDict] = curr
        return acc
      }, {})
    },
    changeActiveStatus (student) {
      changeActiveForUser(student.userPk, !student.isActive).then(() => {
        this.getStudents({ studentPks: [student.pk] })
      }).catch(() => {
        this.$notify({
          title: 'Error',
          text: `Unable to change active status of ${student.user}`,
          type: 'error'
        })
      })
    },
    sumSubmissionScores (submissions) {
      return submissions.reduce((acc, curr) => {
        if (curr.score) {
          acc += curr.score
        }
        return acc
      }, 0)
    },
    refresh (opts = { silent: false }) {
      if (!opts.silent) {
        this.loading = true
      }
      this.getStudents().then(() => { this.loading = false })
    },
    showSubmissionDetails () {
      this.$emit('detail-click')
    },
    async getUserData() {
      this.userMap = new Map()
      this.userData = await api.fetchUsers()
      var that = this // javascript this is not the same in forEach
      this.userData.forEach(user => {
        that.userMap.set(user.pk, user.exerciseGroups)
      })
    }
  },
}
</script>

<style scoped>
  .submission-button {
    min-width: 40px;
  }
  .student-info-list li {
    display: inline;
    margin-right: 20px;
  }
  .student-info-list {
    display: inline;
  }
</style>
