<template>
  <div>
    <div
      class="dialog-box"
      @click="$emit('toggle-editor')"
    >
      <div
        class="body elevation-1"
        :style="{borderColor: '#3D8FC1'}"
      >
        <span
          class="tip tip-up"
          :style="{borderBottomColor: '#3D8FC1'}"
        />
        <span
          v-if="ofUser"
          class="of-user"
        >Of user: {{ ofUser }}</span>
        <span class="comment-created">{{ parsedCreated }}</span>
        <div class="message">
          {{ text }}
        </div>
        <v-btn
          v-if="deletable"
          text
          icon
          absolute
          class="delete-button"
          @click.stop="deleteConfirmation = true"
        >
          <v-icon
            color="grey darken-1"
            size="20px"
          >
            delete_forever
          </v-icon>
        </v-btn>
        <v-btn
          v-if="editable"
          text
          icon
          absolute
          class="edit-button"
          @click.stop="toggleEditing()"
        >
          <v-icon
            color="grey darken-1"
            size="20px"
          >
            edit
          </v-icon>
        </v-btn>
      </div>
    </div>
    <template v-if="editing">
      <v-textarea
        v-model="editedText"
        name="solution-comment-edit"
        label="Here you can edit your comment"
        rows="2"
        outlined
        autofocus
        auto-grow
        hide-details
        class="mx-2"
        @keyup.enter.ctrl.exact="submitEdit"
        @keyup.esc="editing = false"
        @focus="selectInput($event)"
      />
      <v-btn
        id="submit-comment"
        color="success"
        @click="submitEdit"
      >
        <v-icon>check</v-icon>Submit
      </v-btn>
      <v-btn
        id="cancel-comment"
        @click="editing = false"
      >
        <v-icon>cancel</v-icon>cancel
      </v-btn>
    </template>

    <v-dialog
      v-model="deleteConfirmation"
      max-width="max-content"
    >
      <v-card
        class="text-center pa-2"
      >
        <v-card-title class="title">
          Delete permanently?
        </v-card-title>
        <v-card-actions>
          <v-btn
            :id="`confirm-delete-comment`"
            color="red lighten-1"
            @click="deleteComment"
          >
            delete
          </v-btn>
          <v-btn @click="deleteConfirmation = false">
            cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import {Vue, Component, Prop, Provide} from 'vue-property-decorator'
import { UI } from '@/store/modules/ui'
import { SubmissionNotes } from '@/store/modules/submission-notes'
import { Authentication } from '../../../store/modules/authentication'
import * as api from '@/api'
import { actions } from '@/store/actions'

@Component
export default class SolutionComment extends Vue {
  @Prop({
    type: Number,
    required: true
  }) pk!: number
  @Prop({
    type: String,
    required: true
  }) text!: string
  @Prop({
    type: String,
    required: false
  }) created?: string
  @Prop({
    type: String,
    required: true
  }) ofUser!: string
  @Prop({
    type: Number,
    required: true
  }) ofLine!: number

  editing: boolean = false
  editedText: string = ''
  deleteConfirmation: boolean =  false

  get parsedCreated() {
    if (this.created) {
      return new Date(this.created).toLocaleString()
    } else {
      return 'Just now'
    }
  }

  get deletable() {
    return Authentication.state.user.username === this.ofUser || Authentication.isReviewer
  }

  get editable() {
    return Authentication.state.user.username === this.ofUser
  }

  toggleEditing() {
    this.editing = !this.editing
    this.editedText = this.text
  }

  async deleteComment() {
    await api.deleteSolutionComment(this.pk)
    this.$emit('update-submission-type')
  }

  async submitEdit() {
    await api.patchSolutionComment({pk: this.pk, text: this.editedText})
    this.editing = false
    this.$emit('update-submission-type')
  }

  selectInput (event: Event) {
    if (event !== null) {
      const target = event.target as HTMLTextAreaElement
      target.select()
    }
  }
}
</script>

<style scoped>
  .tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid;
  }
  .tip-up {
    top: -22px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  .dialog-box .body {
    cursor: pointer;
    position: relative;
    height: auto;
    margin: 20px 10px 10px 10px;
    padding: 5px;
    border-radius: 0px;
    border: 2px solid;
  }
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
  }
  .delete-button {
    bottom: -12px;
    left: -42px;
  }
  .edit-button {
    bottom: 15px;
    left: -42px;
  }
  .comment-created {
    position: absolute;
    font-size: 10px;
    right: 4px;
    top: -20px;
  }
  .of-user {
    position: absolute;
    font-size: 13px;
    top: -20px;
    left: 50px;
  }
</style>
